################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/.vs
/AuthServer/AuthServer.Host/node_modules
/AuthServer/AuthServer.Host/.vs/AuthServer.Host
/AuthServer/AuthServer.Host/bin/Debug/netcoreapp3.1
/AuthServer/AuthServer.Host/Logs
/AuthServer/AuthServer.Host/obj
/IdentityService/IdentityService.Host/bin/Debug/netcoreapp3.1
/IdentityService/IdentityService.Host/.vs/IdentityService.Host/v16
/IdentityService/IdentityService.Host/Logs
/IdentityService/IdentityService.Host/obj
/IdentityService/IdentityService.Host/.vs/IdentityService.Host/DesignTimeBuild
/TenantService/TenantService.Host/.vs/TenantService.Host
/TenantService/TenantService.Host/bin/Debug/netcoreapp3.1
/TenantService/TenantService.Host/Logs
/TenantService/TenantService.Host/obj
