################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/.vs
/AuthServer/AuthServer.Host/node_modules
/AuthServer/AuthServer.Host/.vs/AuthServer.Host
/AuthServer/AuthServer.Host/bin/Debug/netcoreapp3.1
/AuthServer/AuthServer.Host/Logs
/AuthServer/AuthServer.Host/obj
/IdentityService/IdentityService.Host/bin/Debug/netcoreapp3.1
/IdentityService/IdentityService.Host/.vs/IdentityService.Host/v16
/IdentityService/IdentityService.Host/Logs
/IdentityService/IdentityService.Host/obj
/IdentityService/IdentityService.Host/.vs/IdentityService.Host/DesignTimeBuild
/TenantService/TenantService.Host/.vs/TenantService.Host
/TenantService/TenantService.Host/bin/Debug/netcoreapp3.1
/TenantService/TenantService.Host/Logs
/TenantService/TenantService.Host/obj
/MicroServices/Business/.vs/Business/v16
/MicroServices/Business/Business.Application/bin/Debug
/MicroServices/Business/Business.Application/obj
/MicroServices/Business/Business.Application.Contracts/bin/Debug
/MicroServices/Business/Business.Application.Contracts/obj
/MicroServices/Business/Business.Domain/bin/Debug
/MicroServices/Business/Business.Domain/obj
/MicroServices/Business/Business.EntityFrameworkCore/bin/Debug
/MicroServices/Business/Business.EntityFrameworkCore/obj
/MicroServices/Business/Business.Host/obj
/MicroServices/Business/Business.HttpApi/bin/Debug/netcoreapp3.1
/MicroServices/Business/Business.HttpApi/obj
/MicroServices/Business/Business.HttpApi.Client/bin/Debug/netcoreapp3.1
/MicroServices/Business/Business.HttpApi.Client/obj
/MicroServices/Business/.vs/Business/DesignTimeBuild
/MicroServices/Business/Business.Host/bin/Debug/netcoreapp3.1
/MicroServices/Business/Business.Host/Logs
/Gateways/WebAppGateway/.vs/WebAppGateway
/Gateways/WebAppGateway/WebAppGateway.Host/bin/Debug/netcoreapp3.1
/Gateways/WebAppGateway/WebAppGateway.Host/Logs
/Gateways/WebAppGateway/WebAppGateway.Host/obj
/MicroServices/Business/.vs/Business/config
/MicroServices/Business/Business.HttpApi/bin/Debug
/AuthServer/AuthServer.Host/publish
/MicroServices/Business/Business.Host/publish
/Gateways/InternalGateway/.vs/InternalGateway
/Gateways/InternalGateway/InternalGateway.Host/bin/Debug/netcoreapp3.1
/Gateways/InternalGateway/InternalGateway.Host/Logs
/Gateways/InternalGateway/InternalGateway.Host/obj
