<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
    <add key="xdl.nuget" value="http://192.168.1.181:8081/nuget/xdl.nuget/" protocolVersion="2" />
  </packageSources>
</configuration>